@charset "UTF-8";
/* CSS for Explpore OTC App page */

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: #000000;
}
a:hover, a:focus {
    color: rgb(19,66,221);
}
h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 1.5em;
    color: #000000;
    text-align: center;
}
h2 {
    font-size: 45px;
    font-weight: 300;
    color: #000000;
    letter-spacing: -1px;
    margin-bottom: 1em;
}
h3 {
    color: #000000;
    font-size: 33px;
    font-weight: 500;
}
h4 {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}
h5 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 0.7em;
    color: #000000;
    margin-bottom: 0.7em;
}
p {
    color: #000000;
}
.section {
    padding: 80px 0;
}
.section-title {
    margin-bottom: 3em;
    text-align: center;
}

/* header */
header{
    background-color: #154ae1;
}

header img{
    margin-left: 23%;
    padding: 1.5%;
}
#socialMedia{
    display: inline;
    margin-left: 30%;
}
/* navbar */
.navbar{
    background-color:  #e6e6e6;
    border: none;
    margin: 0;
    box-shadow: 0 3px 10px #666666;
    min-width:100%;
    float: left;
}
.navbar a{
    color: #666666;
    font-size: 85%;
}
.navbar-nav>li {
    float: left;
}

/* slogan */
.slogan {
    font-size: 23px;
    font-weight: 300;
    color: #000000;;
    max-width: 800px;
    margin: 0 auto;
}
.sidePhone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* walkthrough */
.gradient-fill:before {
    background: linear-gradient(to bottom, #154ae1 20%, #6666ff 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card {
    /*border: 0;*/
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    transition: 0.3s ease;
}
.card:before {
    content: "";
    position: absolute;
    width: 3px;
    background: #0000ff;
    top: 0;
    bottom: 0;
    left: 0;
}
.card.features:hover {
    transform: translateY(-20px);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
}
.app-tips li {
    padding: 15px 0;
}

/* app download section */
.download {
    text-align: center;
    margin: 3em 0;
}
.download .box-icon {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom: 2.5em;
}
.download h2 {
    color: #000000;
}
.download a {
  text-decoration: none;
}
.downloadBTN {
    font-size: 12px;
    font-weight: 400;
    padding: 0.375em 1.35em;
    transition: all 0.2s ease;
    text-transform: uppercase;
}
.btn-light {
    border-radius: 4px;
    background: #7ee600;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 225, 0.10);
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    margin: 0.6em;
    padding: 0.8em 1.7em;
    line-height: 1.9;
}

/* contact and social */
.social {
    text-align: right;
}
.social a {
    background-color: rgb(19,66,221);
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 0 0.3em;
    border-radius: 50%;
    color: rgb(183,183,183);
    transition: all 0.2s ease;
    text-decoration: none;
}
.social a:hover {
    color: #ffffff;
    text-decoration: none;
}
footer{
    width: 100%;
    background-color:  #262626;
    padding: 2%;
    text-align: center;
}
.contact{
    text-align: left;
}
.col-sm-6{
    padding-left: 20%;
}
footer h6{
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 2%;
    text-align: left;
}
footer p{
    font-size: 90%;
    color: #808080;
    margin: 0;
    text-align: left;
    padding: 2px;
}
footer a{
    color: #808080;

}
footer a:hover{
    color: #ffffff;
    text-decoration: none;

}
