/*"Ozark Technical Community College"*/
header{
    background-color: #154ae1;
}
header img{
    margin-left: 23%;
    padding: 1.5%;
}
/* social media in header */
#socialMedia{
    display: inline;
    margin-left: 30%;
}
/* icons for social media */
i{
    color: #ffffff;
    padding: 0 5px 0 5px;
}
/*Navbar */
.navbar{
    background-color:  #e6e6e6;
    border: none;
    margin: 0;
    box-shadow: 0 3px 10px #666666;
}
.navbar a{
    color: #666666;
    font-size: 85%;
}
/*"Explore OTC registration Form"*/
/*"Start here. Go anywhere"*/
.pageTitle{
  margin-top: 0;
  margin-bottom: 40px;
  background-color: #F68C1E;
}
h1{
  margin: auto;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-top:30px;
}
h2 {
  margin: auto;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 30px;
}
/*collage of otc pictures in background*/
.floatLeft{
  float:left;
}
.leftCollage{
  position: absolute;
  margin-right: 900px;
  margin-top:200px;
  width: 500px;
  height: 440px;
}
.rightCollage{
  position: absolute;
  margin-left: 255px;
  margin-top:200px;
  width: 500px;
  height: 440px;
}
/*div with clipboard and googleForm*/
#googleForm{
  text-align: center;
  margin: 0 auto 4em;
  width:800px;
  position: relative;
  height: 100%;
}
/*google form */
.form{
  position:absolute;
  padding-top:140px;
   margin-left:auto;
   margin-right:auto;
   left:0;
   right:0;
   width:612px;
  height:890px;
}
/*clipboard with blue border*/
.clipboard{
  border-style: solid;
  border-color: #154AE1;
  border-width: 50px;
  border-top:0px;
  border-bottom:0px;
  box-shadow: 0px 0px 10px 10px #888888;
  border-radius: 20%;
  position:absolute;
  width:800px;
  height:950px;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0
}
/* footer */
footer{
    width: 100%;
    background-color:  #262626;
    padding: 2%;
    text-align: center;
    position: absolute;
    margin-top: 1020px;
}
footer h6{
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 2%;
    text-align: left;
}
footer p{
    font-size: 90%;
    color: #808080;
    margin: 0;
    text-align: left;
    padding: 2px;
}
footer a{
    color: #808080;
}
footer a:hover{
    color: #ffffff;
    text-decoration: none;
}
.contact{
    text-align: left;
}
.col-sm-6{
    padding-left: 20%;
}
/*Media view points*/
@media(max-width: 1370px){
    .wordmark{width: 320px;}
    header{padding: 2%;}
    #socialMedia{margin-left: 25%;}
}

@media(max-width: 1240px){
    .logo{width: 470px;}
}

@media(max-width: 1140px){
    #socialMedia{margin-left: 20%;}
}

@media(max-width: 1000px){
    #socialMedia{margin-left: 15%;}
    .wordmark{width: 280px;}
}

@media(max-width: 850px){
    .wordmark{margin-left: 10%;}
    .info h3{font-size: 250%;}
}

@media(max-width: 700px){
    .wordmark{margin-left: 5%;}
    #socialMedia{display: none;}
}

@media(max-width:590px){
    .wordmark{width: 260px;}
}
@media(max-width: 450px){
    .wordmark{width: 240px;}
}
